
@font-face {
    font-family: 'app';
    src:  url('../assets/font/app.eot?2r31u9');
    src:  url('../assets/font/app.eot?2r31u9#iefix') format('embedded-opentype'),
    url('../assets/font/app.ttf?2r31u9') format('truetype'),
    url('../assets/font/app.woff?2r31u9') format('woff'),
    url('../assets/font/app.svg?2r31u9#app') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'app' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-record-o:before {
    content: "\e901";
}
.icon-record:before {
    content: "\e902";
}
.icon-top:before {
    content: "\e900";
}
.icon-heart:before {
    content: "\e6bd";
}
.icon-heart-o:before {
    content: "\e6be";
}
.icon-qrcode:before {
    content: "\e626";
}
.icon-filter:before {
    content: "\e602";
}
.icon-seach:before {
    content: "\e601";
}
.icon-seach-o:before {
    content: "\e616";
}
.icon-checked:before {
    content: "\e608";
}
.icon-check:before {
    content: "\e609";
}
.icon-system:before {
    content: "\e60f";
}
.icon-image:before {
    content: "\e90d";
}
.icon-add-t:before {
    content: "\e114";
}
.icon-del-t:before {
    content: "\e115";
}
.icon-notdef:before {
    content: "\e906";
}
.icon-print:before {
    content: "\78";
}
.icon-male:before {
    content: "\e699";
}
.icon-female:before {
    content: "\e69a";
}
.icon-mask:before {
    content: "\e69b";
}
.icon-home:before {
    content: "\e69c";
}
.icon-door:before {
    content: "\e69d";
}
.icon-gentle:before {
    content: "\e69e";
}
.icon-chat:before {
    content: "\e69f";
}
.icon-mobile:before {
    content: "\e6a0";
}
.icon-basket:before {
    content: "\e6a1";
}
.icon-tools:before {
    content: "\e6a2";
}
.icon-timer:before {
    content: "\e6a8";
}
.icon-notepad:before {
    content: "\e6a9";
}
.icon-arror-r:before {
    content: "\e6aa";
}
.icon-arror-t:before {
    content: "\e6ab";
}
.icon-position:before {
    content: "\e6ac";
}
.icon-clock:before {
    content: "\e6ad";
}
.icon-cool:before {
    content: "\e6ae";
}
.icon-comments:before {
    content: "\e6af";
}
.icon-mobile-2:before {
    content: "\e6b0";
}
.icon-dot:before {
    content: "\e6b1";
}
.icon-position-2:before {
    content: "\e6b2";
}
.icon-medal:before {
    content: "\e6b3";
}
.icon-alert:before {
    content: "\e6b4";
}
.icon-well:before {
    content: "\e6b5";
}
.icon-balloon:before {
    content: "\e6b6";
}
.icon-play2:before {
    content: "\ea15";
}
.icon-pause:before {
    content: "\ea16";
}
.icon-stop:before {
    content: "\ea17";
}
.icon-previous:before {
    content: "\ea18";
}
.icon-next:before {
    content: "\ea19";
}
.icon-backward:before {
    content: "\ea1a";
}
.icon-forward2:before {
    content: "\ea1b";
}
.icon-play3:before {
    content: "\ea1c";
}
.icon-pause2:before {
    content: "\ea1d";
}
.icon-stop2:before {
    content: "\ea1e";
}
.icon-backward2:before {
    content: "\ea1f";
}
.icon-forward3:before {
    content: "\ea20";
}
.icon-first:before {
    content: "\ea21";
}
.icon-last:before {
    content: "\ea22";
}
.icon-previous2:before {
    content: "\ea23";
}
.icon-next2:before {
    content: "\ea24";
}
.icon-volume-high:before {
    content: "\ea26";
}
.icon-volume-medium:before {
    content: "\ea27";
}
.icon-volume-low:before {
    content: "\ea28";
}
.icon-volume-mute:before {
    content: "\ea29";
}
.icon-volume-mute2:before {
    content: "\ea2a";
}
.icon-volume-increase:before {
    content: "\ea2b";
}
.icon-volume-decrease:before {
    content: "\ea2c";
}

